@import url('https://fonts.googleapis.com/css?family=Lato');

tr, .main-proxy-container, .logo-header, .logo, #item-info-container,
#image-gallery-container, #item-description-container,
#similar-items-container, #item-reviews-container, 
#reviewing-container, #table, #tbody, #username, #star,
#reviewTitle, #data, #purchased {
  display: flex;
}

body {
  font-family: 'Lato' !important;
}

tr {
  align-items: center;
}

#star {
  flex-grow: 1;
}

#reviewTitle {
  flex-grow: 2;
  padding-left: 2%;
}

#tbody {
  flex-flow: column;
  margin: 3px;
}

#table {
  margin: 5px;
  border-top: 1px solid black;
}

.logo-header {
  background-color: #232F3F;
  margin-bottom: 3%;
}

.logo {
  height: 120px;
  width: 120px;
  margin-left: 1%;
  margin-top: 1%;
}

.main-proxy-container {
  flex-flow: column;
}

#similar-items-container {
  border-top: 1px solid #A9A9A9;
  border-bottom: 1px solid #A9A9A9;
  margin: 0 3% 1% 3%;
  padding: 1% 0;
}

#similar-items-container, #item-reviews-container {
  justify-content: center;
}

#item-reviews-container {
  flex-grow: 1;
  margin-left: 3%;
}

#spacing-container {
  flex-grow: 2;
}

#item-info-container {
  margin: 20px 0;
}

#image-gallery-container {
  flex-grow: 1;
  margin-left: 20%
}

#item-description-container {
  flex-grow: 2;
}